// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
.nhsuk-card {

    figure {
        margin: 0;

        img {
            height: auto;
        }
    }
}
.no-padding {
    padding: 0;
}

.nhsuk-header a.nhsuk-header__link--service {
    display: contents;
    float: left;
}

.nhsuk-header__custom {
    float: left;
    padding-left: 16px;
    padding-top: 3px;
}

@media (max-width: 40.0525em) {
    .nhsuk-header__custom {
        padding-top: 4px;
        width: 200px!important;
    }
}
@media (min-width: 61.865em) {
    .nhsuk-header__custom {
        padding-left: 16px;
        padding-top: 3px;
        width: auto!important;
    }
    .nhsuk-header__service-name {
        max-width: 220px;
    }
}