{% extends 'layout.html' %}

<!-- some custom css for the home page only -->
{% set containerClasses = 'app-width-container--full' %}
{% set mainClasses = 'app-main-wrapper--no-padding app-homepage' %}

{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->
{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS homepage">

        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
          <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
          <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>

        <span class="nhsuk-header__service-name">
          Get help to buy food and milk (Healthy Start)
        </span>
      </a>
    </div>
  </div>

  <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
    <div class="nhsuk-width-container">
      <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
        
      </p>
      <ul class="nhsuk-header__navigation-list">
        <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--for-mobile">
          <a class="nhsuk-header__navigation-link" href="">
            Home
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="hs-homepage">
            Home
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="how-to-apply">
            How&nbsp;to apply
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="what-youll-get">
            What you'll get and how to&nbsp;shop
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="help-with-your-card">
            Help with your card or vouchers
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="getting-vitamins">
            Getting vitamins 
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="retailers">
            Retailers
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="healthcare-professionals">
            Healthcare professionals
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" href="contact-us">
            Contact us
            <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
{% endblock %}




<!-- Homepage content -->
{% block content %}



<!-- How&nbsp;to apply-->
<div class="nhsuk-width-container"><ol class="nhsuk-breadcrumb__list">
  <li class="nhsuk-breadcrumb__item"><a href="hs-homepage.html">Home</a></li>
  <li class="nhsuk-breadcrumb__item current">Contact us</li></ol> <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.healthystart.nhs.uk"> Back to  Home
  </a>
  </p>
</div>
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full app-section__content">
        <div class="nhsuk-u-reading-width">
          <div id="primary" class=" nhsuk-grid-row nhsuk-width-restrict">
            <div class="nhsuk-grid-column-full full-width">

            <h1 class="nhsuk-heading-xl">Contact us</h1>

            <div class="nhsuk-u-margin-bottom-8">

              <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Contact us About your&nbsp;card
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>Call 0300 330 2090 to:</p>
                  <ul>
                    <li>activate your card</li>
                    <li>get your PIN</li>
                    <li>hear your balance</li>
                    <li>report your card as lost, damaged or stolen</li>
                  </ul>
                  <p>Phone lines are open 24 hours a day, 7 days a week.</p>
                </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Contact us with general enquiries
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>Email <a href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a> or call 0300 330 7010 to:</p>
                  <ul>
                    <li>turn off contactless payments on your card</li>
                    <li>ask a question about Healthy Start</li>
                    <li>request an interpreter</li>
                    <li>tell us about a change in your circumstances</li>
                    <li>tell us if you think a mistake has been made</li>
                  </ul>
                  <p>Phone lines are open 8am to 6pm Monday to Friday (except public holidays).</p>
                  <a href="https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers" target="_blank">Find out about call charges (opens in a new tab)</a>
                </div>
            </details>

            <details class="nhsuk-details nhsuk-expander">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">
                    Contact us via post
                  </span>
                </summary>
                <div class="nhsuk-details__text">
                  <p>You can also contact us by post at:</p>
                  <p>Healthy Start<br>
                  Bridge House<br>
                  152 Pilgrim Street<br>
                  Newcastle upon Tyne<br>
                  NE1 6SN</p>
                </div>
            </details>

          </div>

            <h2 class="nhsuk-heading-m" id="follow-healthy-start-on-social-media">Follow Healthy Start on social media</h2>          
          <ul><li><a rel="noreferrer noopener" href="https://www.facebook.com/NHSHealthyStart/" target="_blank">Facebook (opens in a new tab)</a></li><li><a rel="noreferrer noopener" href="https://twitter.com/NHSHealthyStart" target="_blank">Twitter (opens in a new tab)</a></li></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
          
{% endblock %}
          

<!-- NHS.UK footer -->
{% block footer %}
<footer>
	<div class="nhsuk-footer" id="nhsuk-footer">
		<div class="nhsuk-width-container">
					<h2 class="nhsuk-u-visually-hidden">Support links</h2>
		<ul class="nhsuk-footer__list">
			<li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/accessibility-statement-healthy-start-website">Accessibility statement</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/contact-us/">Contact us</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/privacy-policy/">Privacy policy and cookies</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/terms-and-conditions/">Terms and conditions</a></li>		</ul>

		<p class="nhsuk-footer__copyright">
	© Copyright,
	Get help to buy food and milk (Healthy Start)	2022</p>

		</div>
	</div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}