{% extends 'layout.html' %}

<!-- some custom css for the home page only -->
{% set containerClasses = 'app-width-container--full' %}
{% set mainClasses = 'app-main-wrapper--no-padding app-homepage' %}

{% block pageTitle %}
  How&nbsp;to apply - Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->
{% block header %}
<header class="nhsuk-header nhsuk-header--transactional">
    <div class="nhsuk-width-container nhsuk-header__container">
        <a class="nhsuk-header__link nhsuk-header__link--service " href="hs-homepage" aria-label="NHS homepage">

          <div class="nhsuk-header__logo nhsuk-header__logo--only">
            <span class="nhsuk-header__link">
              <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
                <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
                <path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
              </svg>
            </span>
          </div>

          <div class="nhsuk-header__custom">
            <span class="nhsuk-header__transactional-service-name--link">Get help to buy food and milk (Healthy Start)</span>
          </div>
        </a>
        <div class="nhsuk-header__content" id="content-header">

            <div class="nhsuk-header__menu nhsuk-header__menu--only">
                <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
                    aria-label="Open menu">Menu
                </button>
            </div>


        </div>

    </div>
    <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation"
        aria-labelledby="label-navigation">
        <div class="nhsuk-width-container">
            <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
                <button class="nhsuk-header__navigation-close" id="close-menu">
                    <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true" focusable="false">
                        <path
                            d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                        </path>
                    </svg>
                    <span class="nhsuk-u-visually-hidden">Close Menu</span>
                </button>
            </p>
            <ul id="menu-menu-top-menu" class="nhsuk-header__navigation-list">
                <li id="menu-item-5876"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4211 current_page_item menu-item-5876 nhsuk-header__navigation-item">
                    <a href="hs-homepage" aria-current="page"
                        class="nhsuk-header__navigation-link">Home<svg class="nhsuk-icon nhsuk-icon__chevron-right"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5863"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5863 nhsuk-header__navigation-item">
                    <a href="how-to-apply" class="nhsuk-header__navigation-link">How&nbsp;to apply<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5872"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5872 nhsuk-header__navigation-item">
                    <a href="what-youll-get" class="nhsuk-header__navigation-link">What you'll get and how to&nbsp;shop<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                        <li id="menu-item-5874"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5874 nhsuk-header__navigation-item">
                    <a href="what-you-should-buy"
                        class="nhsuk-header__navigation-link">What you should buy<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5864"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5864 nhsuk-header__navigation-item">
                    <a href="about-your-card"
                        class="nhsuk-header__navigation-link">About your&nbsp;card<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5874"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5874 nhsuk-header__navigation-item">
                    <a href="getting-vitamins"
                        class="nhsuk-header__navigation-link">Getting vitamins<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>


                <li id="menu-item-5865"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5865 nhsuk-header__navigation-item">
                    <a href="retailers"
                        class="nhsuk-header__navigation-link">Retailers<svg class="nhsuk-icon nhsuk-icon__chevron-right"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5866"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5866 nhsuk-header__navigation-item">
                    <a href="healthcare-professionals"
                        class="nhsuk-header__navigation-link">Healthcare professionals<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5867"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5867 nhsuk-header__navigation-item">
                    <a href="contact-us" class="nhsuk-header__navigation-link">Contact
                        us<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}




<!-- Homepage content -->
{% block content %}



<!-- How&nbsp;to apply-->
<div class="nhsuk-width-container"><ol class="nhsuk-breadcrumb__list">
  <li class="nhsuk-breadcrumb__item"><a href="hs-homepage.html">Home</a></li>
  <li class="nhsuk-breadcrumb__item current">How&nbsp;to apply</li></ol> <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.healthystart.nhs.uk"> Back to  Home
  </a>
  </p>
</div>
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full no-padding nhsuk-u-padding-top-9">
        <div class="nhsuk-grid-column-full">
          <h1>How to apply for Healthy Start</h1>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
          <h2>Applying online</h2>
          <p>If you get Universal credit, you can apply online if:</p>
          <ul>
            <li>you're at least 10 weeks pregnant or have at least one child under 4 years old</li>
            <li>your family’s 'take-home pay for this period' is £408 or less from employment</li>
          </ul>
          <p>If you get Child Tax Credit, you can apply online if:</p>
          <ul>
            <li>you have at least one child under 4 years old</li>
            <li>your family’s annual income is £16,190 or less</li>
          </ul>
          <p>To apply, you'll need your:</p>
          <ul>
            <li>name</li>
            <li>address</li>
            <li>date of birth</li>
            <li>National Insurance number</li>
            <li>baby’s due date (if you’re pregnant)</li>
            <li>benefit award letter if you’re over 18 (you must enter the same information that’s on this letter)</li>
          </ul>
          <p><a href="https://services.nhsbsa.nhs.uk/apply-for-healthy-start/"><button class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit">Apply now</button></a></p>
          <h2>Applying by email or phone</h2>

           <p>You can apply by email or phone if you're at least 10 weeks pregnant, or have at least one child under 4 years old, and get either:</p>
            <ul><li>Income Support</li>
            <li>Income-based Jobseeker’s Allowance</li>
            <li>Pension Credit (which includes the child addition)</li>
            <li>Working Tax Credit run-on (paid for 4 weeks if your working hours, or your partner or carer's, go to less than 16 hours per week)</li>
          </ul>
            <p>You can also apply by email or phone if you're at least 10 weeks pregnant and either:</p>
            <ul><li>under 18 years old and not getting any benefits</li>
                <li>getting Child Tax Credits and your family’s annual income is £16,190 or less</li>
                <li>getting income-related Employment and Support Allowance (ESA)</li>
          </ul>


            <p>You can apply by either:</p>
        <ul><li>emailing <a href="mailto:healthy.start@nhsbsa.nhs.uk">healthy.start@nhsbsa.nhs.uk</a></li>
            <li>calling 0300 330 7010</li>
          </ul>
            <p>Phone lines are open 8am to 6pm Monday to Friday (except public holidays). <a href= https://www.nhsbsa.nhs.uk/contact-us/call-charges-and-phone-numbers>Find out about call charges (opens in a new tab)</a> </p>
            <h2>If you've previously got Healthy Start vouchers</h2>

              <p>We are no longer sending paper vouchers. To get help to buy food and milk you need to apply for a Healthy Start card.</p>

              <p>You can still use your Healthy Start vouchers until their expiry date. You can find the expiry date printed on your vouchers.</p>


              <h2 id="if-you-re-not-a-british-citizen-but-your-child-is">If you’re not a British citizen but your child is</h2>
              <p>You might be eligible for Healthy Start depending on your immigration status.</p>

              <p>You can get Healthy Start if all the following are true:</p>
              <ul><li>you have at least 1 British child under 4 years old – <a href="https://www.gov.uk/check-british-citizenship">check if your child is automatically a British citizen (opens in a new tab)</a> if you’re not sure</li>
                 <li>your family earns £408 or less per month after tax</li>
              <li>you cannot claim <a href="https://www.gov.uk/government/publications/public-funds--2">‘public funds’ (opens in a new tab)</a> (for example, benefits) – either because of your immigration status or because you do not have an immigration status</li>
            </ul>
              <p>Your biometric residence permit (BRP) or your <a href="https://www.gov.uk/view-prove-immigration-status">online immigration status (opens in a new tab)</a> will say if you cannot claim public funds. You might also have a letter from the Home Office about it.</p>

              <p>To apply for Healthy Start, ask for an application form via email. Only use this email address if you think you cannot claim public funds because of your immigration status.</p>

  <p><a href="mailto:Healthystartclaim@dhsc.gov.uk">Healthystartclaim@dhsc.gov.uk</a></p>
</div>
<!-- <h2 id="if-you-re-not-a-british-citizen-but-your-child-is">If you’re not a British citizen but your child is</h2>
<p>You might be able to get Healthy Start vouchers depending on your immigration status.</p>
<p>You can get Healthy Start vouchers if all the following are true:</p>
<ul>
  <li>you have at least 1 British child under 4 years old –&nbsp;<a rel="noreferrer noopener" href="https://www.gov.uk/check-british-citizenship" target="_blank">check if your child is automatically a British citizen (opens in a new tab)</a>&nbsp;if you’re not sure</li><li>your family earns £408 or less per month after tax</li><li>you cannot claim&nbsp;<a href="https://www.gov.uk/government/publications/public-funds--2">‘public funds</a><a href="https://www.gov.uk/government/publications/public-funds--2" target="_blank" rel="noreferrer noopener">’ (opens in a new tab)</a>&nbsp;(for example, benefits) – either because of your immigration status or because you do not have an immigration status</li></ul>
  <p>Your biometric residence permit (BRP) or your&nbsp;<a href="https://www.gov.uk/view-prove-immigration-status" target="_blank" rel="noreferrer noopener">online immigration status (opens in a new tab)</a>&nbsp;will say if you cannot claim public funds. You might also have a letter from the Home Office about it.</p>
  <p>To get Healthy Start vouchers, ask for an application form via email. Only use this email address if you think you cannot claim public funds because of your immigration status.</p>
  <p><a href="mailto:Healthystartclaim@dhsc.gov.uk">Healthystartclaim@dhsc.gov.uk</a></p>
</div> -->



<!-- <div class="nhsuk-grid-column-one-third">
<div class="wp-block-nhsblocks-promo1 nhsuk-card nhsuk-card--clickable">
<figure class="wp-block-image size-large"><img width="690" height="459" src="https://www.healthystart.nhs.uk/wp-content/uploads/2021/03/beneficiaries-1.jpg" alt="A child with knife and fork in hand about to eat a plate of vegetables" class="wp-image-5682" srcset="https://www.healthystart.nhs.uk/wp-content/uploads/2021/03/beneficiaries-1.jpg 690w, https://www.healthystart.nhs.uk/wp-content/uploads/2021/03/beneficiaries-1-300x200.jpg 300w" sizes="(max-width: 690px) 100vw, 690px"></figure>
<div class="nhsuk-card__content"><h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="https://www.healthystart.nhs.uk/frequently-asked-questions/" class="nhsuk-card__link">Frequently asked questions</a></h2><div class="nhsuk-card__description"><p>Frequently asked questions that people may have about the Healthy Start scheme</p></div></div>
</div>
</div> -->
</div></div>




        </div>
</section>
{% endblock %}







<!-- NHS.UK footer -->
{% block footer %}
<footer>
	<div class="nhsuk-footer" id="nhsuk-footer">
		<div class="nhsuk-width-container">
					<h2 class="nhsuk-u-visually-hidden">Support links</h2>
		<ul class="nhsuk-footer__list">
			<li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/accessibility-statement-healthy-start-website">Accessibility statement</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/contact-us/">Contact us</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/privacy-policy/">Privacy policy and cookies</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/terms-and-conditions/">Terms and conditions</a></li>		</ul>

		<p class="nhsuk-footer__copyright">
	© Copyright,
	Get help to buy food and milk (Healthy Start)	2022</p>

		</div>
	</div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
