{% extends 'layout.html' %}

<!-- some custom css for the home page only -->
{% set containerClasses = 'app-width-container--full' %}
{% set mainClasses = 'app-main-wrapper--no-padding app-homepage' %}

{% block pageTitle %}
  The NHS website - NHS
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->
{% block header %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo">
      <a class="nhsuk-header__link" href="/" aria-label="NHS homepage">
        <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
        </svg>
      </a>
    </div>
  </div>
  
{% endblock %}


<!-- Homepage content -->
{% block content %}
<div class="nhsuk-width-container ">
  <main class="nhsuk-main-wrapper " id="maincontent" role="main">
    
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-full">
 <!-- Change the page title here -->
 <h1>Get help to buy food and milk<span class="nhsuk-caption-xl nhsuk-caption--bottom"> (Healthy start website)
 </h1>
 <!-- Add your content here -->
 <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->



    

 <details class="nhsuk-details nhsuk-expander" nhsuk-polyfilled="true" id="nhsuk-details1">
    <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text1" tabindex="0" aria-expanded="false">
       <span class="nhsuk-details__summary-text">Healthy Start website (Sprint 48)</span>
    </summary>
    <div class="nhsuk-details__text" id="nhsuk-details__text1" aria-hidden="true">
       <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0" nhsuk-polyfilled="true" id="nhsuk-details2">
          <summary class="nhsuk-details__summary" role="button" aria-controls="nhsuk-details__text2" tabindex="0" aria-expanded="false">
             <span class="nhsuk-details__summary-text"><small>Version 1</small></span>
          </summary>
          <div class="nhsuk-details__text" id="nhsuk-details__text2" aria-hidden="true">
             <h2 class="nhsuk-heading-l">Designing an 'Apply' service</h2>
             <h3 class="nhsuk-heading-m">Hypothesis A</h3>
             <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> ... <strong>will be a
                   useful feature for</strong> ... <strong>as it will</strong> ... <strong>This will</strong>
                ...
             </p>
             <hr>
             <h3 class="nhsuk-heading-m">What we created:</h3>
             <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
             </ul>
             <h3 class="nhsuk-heading-m">What we plan to test:</h3>
             <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
             </ul>
             <h3 class="nhsuk-heading-m">What we found:</h3>
             <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
             </ul>
             <h3 class="nhsuk-heading-m">Any known issues?</h3>
             <ul class="nhsuk-list nhsuk-list--bullet">
                <li>...</li>
             </ul>
             <hr>
             <p class="nhsuk-u-margin-bottom-0"><a href="/hs-homepage"><button class="nhsuk-button" type="submit">Get help to buy food and milk (Healthy Start website)</button></a></p>
          </div>
       </details>
    </div>
 </details>








<!-- Focus on... -->


{% endblock %}


<!-- NHS.UK footer -->
{% block footer %}
<footer role="contentinfo">
  <div class="nhsuk-footer" id="nhsuk-footer">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS sites</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">NHS App</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">About us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Contact us</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Profile editor login</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Site map</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Accessibility statement</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Our policies</a></li>
        <li class="nhsuk-footer__list-item"><a href="" class="nhsuk-footer__list-item-link">Cookies</a></li>
      </ul>
      <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
    </div>
  </div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}