{% extends 'layout.html' %}

<!-- some custom css for the home page only -->
{% set containerClasses = 'app-width-container--full' %}
{% set mainClasses = 'app-main-wrapper--no-padding app-homepage' %}

{% block pageTitle %}
Retailers - Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/nhsuk.css" rel="stylesheet">
{% endblock %}

<!-- NHS.UK header -->
{% block header %}
<header class="nhsuk-header nhsuk-header--transactional">
    <div class="nhsuk-width-container nhsuk-header__container">
        <a class="nhsuk-header__link nhsuk-header__link--service " href="hs-homepage" aria-label="NHS homepage">

          <div class="nhsuk-header__logo nhsuk-header__logo--only">
            <span class="nhsuk-header__link">
              <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
                <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
                <path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
              </svg>
            </span>
          </div>

          <div class="nhsuk-header__custom">
            <span class="nhsuk-header__transactional-service-name--link">Get help to buy food and milk (Healthy Start)</span>
          </div>

        </a>
        <div class="nhsuk-header__content" id="content-header">

            <div class="nhsuk-header__menu nhsuk-header__menu--only">
                <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
                    aria-label="Open menu">Menu
                </button>
            </div>


        </div>

    </div>
    <nav class="nhsuk-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation"
        aria-labelledby="label-navigation">
        <div class="nhsuk-width-container">
            <p class="nhsuk-header__navigation-title"><span id="label-navigation">Menu</span>
                <button class="nhsuk-header__navigation-close" id="close-menu">
                    <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        aria-hidden="true" focusable="false">
                        <path
                            d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                        </path>
                    </svg>
                    <span class="nhsuk-u-visually-hidden">Close Menu</span>
                </button>
            </p>
            <ul id="menu-menu-top-menu" class="nhsuk-header__navigation-list">
                <li id="menu-item-5876"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4211 current_page_item menu-item-5876 nhsuk-header__navigation-item">
                    <a href="hs-homepage" aria-current="page"
                        class="nhsuk-header__navigation-link">Home<svg class="nhsuk-icon nhsuk-icon__chevron-right"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5863"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5863 nhsuk-header__navigation-item">
                    <a href="how-to-apply" class="nhsuk-header__navigation-link">How&nbsp;to apply<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5872"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5872 nhsuk-header__navigation-item">
                    <a href="what-youll-get" class="nhsuk-header__navigation-link">What you'll get and how to&nbsp;shop<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                        <li id="menu-item-5874"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5874 nhsuk-header__navigation-item">
                    <a href="what-you-should-buy"
                        class="nhsuk-header__navigation-link">What you should buy<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5864"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5864 nhsuk-header__navigation-item">
                    <a href="about-your-card"
                        class="nhsuk-header__navigation-link">About your&nbsp;card<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5874"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5874 nhsuk-header__navigation-item">
                    <a href="getting-vitamins"
                        class="nhsuk-header__navigation-link">Getting vitamins<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5865"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5865 nhsuk-header__navigation-item">
                    <a href="retailers"
                        class="nhsuk-header__navigation-link">Retailers<svg class="nhsuk-icon nhsuk-icon__chevron-right"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5866"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5866 nhsuk-header__navigation-item">
                    <a href="healthcare-professionals"
                        class="nhsuk-header__navigation-link">Healthcare professionals<svg
                            class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
                <li id="menu-item-5867"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5867 nhsuk-header__navigation-item">
                    <a href="contact-us" class="nhsuk-header__navigation-link">Contact
                        us<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                        </svg></a></li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}




<!-- Homepage content -->
{% block content %}



<!-- How&nbsp;to apply-->
<div class="nhsuk-width-container"><ol class="nhsuk-breadcrumb__list">
  <li class="nhsuk-breadcrumb__item"><a href="hs-homepage.html">Home</a></li>
  <li class="nhsuk-breadcrumb__item current">Retailers</li></ol> <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="https://www.healthystart.nhs.uk"> Back to  Home
  </a>
  </p>
</div>
<section class="nhsuk-section">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full no-padding nhsuk-u-padding-top-9">
        <div class="nhsuk-grid-column-full">
          <h1>Retailers</h1>
        </div>
        <div class="nhsuk-grid-column-two-thirds">
        <h2>Does your business qualify for Healthy Start?</h2>
          <p>If you’re a retailer, this page provides information and advice about joining and operating the Healthy Start scheme.</p>
          <p>Healthy Start cards are now replacing the Healthy Start vouchers. Beneficiaries will stop receiving vouchers once they complete the online application. They can still use their Healthy Start vouchers until their expiry date.</p>
          <p>To accept Healthy Start card payments, your retail outlet will need to accept Mastercard® and have a card payment facility allowing chip and pin, or contactless payments.  The voucher scheme will run alongside the card scheme until it ends in March 2022. If you want to accept vouchers, you will have to register your business.</p>
          <p>You can register to accept Healthy Start vouchers if you:</p>
          <ul>
            <li>sell any of the foods that are included in the scheme</li>
            <li>have not in the past been disqualified from Healthy Start, or the former Welfare Food (milk token) scheme</li>
          </ul>
          <p>Retailers can take part in Healthy Start if they sell:</p>
          <ul>
            <li>plain liquid cow’s milk – it can be pasteurised, sterilised long-life or UHT</li>
            <li>fresh, frozen, and tinned fruit and vegetables including loose, pre-packed, whole, sliced, chopped, or mixed fruit or vegetables, fruit in fruit juice, or fruit or vegetables in water, but not those to which fat, salt, sugar, or flavouring have been added</li>
            <li>cow’s milk-based infant formula milk – this must be labelled as suitable for use from birth and satisfy, by itself, an infant’s nutritional needs</li>
            <li>fresh, dried, and tinned pulses, including but not limited to lentils, beans, peas, and chickpeas but not those to which fat, salt, sugar, or flavouring have been added</li>
          </ul>
          <h3>If you’re a retailer wanting to take part in the Healthy Start scheme with vouchers</h3>
          <p>Many different kinds of businesses can register for Healthy Start, including grocers, milkmen, food co-operatives, newsagents, box schemes, market stalls and supermarkets. As long as your business sells one or more of the Healthy Start foods, you can register to take part.</p>
          <p>Go to the Healthy Start retailer website for more information about joining and taking part in the Healthy Start scheme (opens in a new tab).</p>
          <p>The paper voucher scheme is ending in March 2022.</p>
          <h2>How to register</h2>
          <ol><li>Download and complete the online application form (opens in a new tab).</li>
              <li>Once you have completed the application form you must then print and sign it.</li>
              <li>Send it to us at:</li>
          </ol>
          <p>Freepost RRTR-SYAE-JKCR<br>Barberton House<br>Farndon Road<br>MARKET HARBOROUGH<br>LE16 9NR</p>
          <p>We can only register you if you send us a signed application form.</p>
          <p>Once you have been accepted to join the scheme, we will send you a registration pack.</p>
          <p>The pack contains a:</p>
          <ul><li>supplier guide</li>
              <li>window sticker</li>
              <li>quick reference guide</li>
              <li>claim/remittance form</li></ul>

</div>

<!-- <div class="nhsuk-grid-column-one-third">
<div class="wp-block-nhsblocks-promo1 nhsuk-card nhsuk-card--clickable">
<figure class="wp-block-image size-large"><img width="690" height="459" src="https://www.healthystart.nhs.uk/wp-content/uploads/2021/03/beneficiaries-1.jpg" alt="A child with knife and fork in hand about to eat a plate of vegetables" class="wp-image-5682" srcset="https://www.healthystart.nhs.uk/wp-content/uploads/2021/03/beneficiaries-1.jpg 690w, https://www.healthystart.nhs.uk/wp-content/uploads/2021/03/beneficiaries-1-300x200.jpg 300w" sizes="(max-width: 690px) 100vw, 690px"></figure>
<div class="nhsuk-card__content"><h2 class="nhsuk-card__heading nhsuk-heading-m"><a href="https://www.healthystart.nhs.uk/frequently-asked-questions/" class="nhsuk-card__link">Frequently asked questions</a></h2><div class="nhsuk-card__description"><p>Frequently asked questions that people may have about the Healthy Start scheme</p></div></div></div>
</div> -->
</div></div>




        </div>

</section>
{% endblock %}







<!-- NHS.UK footer -->
{% block footer %}
<footer>
	<div class="nhsuk-footer" id="nhsuk-footer">
		<div class="nhsuk-width-container">
					<h2 class="nhsuk-u-visually-hidden">Support links</h2>
		<ul class="nhsuk-footer__list">
			<li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.nhsbsa.nhs.uk/accessibility-statement-healthy-start-website">Accessibility statement</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/contact-us/">Contact us</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/privacy-policy/">Privacy policy and cookies</a></li><li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="https://www.healthystart.nhs.uk/terms-and-conditions/">Terms and conditions</a></li>		</ul>

		<p class="nhsuk-footer__copyright">
	© Copyright,
	Get help to buy food and milk (Healthy Start)	2022</p>

		</div>
	</div>
</footer>
{% endblock %}


<!-- JavaScript hack to do nothing if search button or link href="" clicked -->
{% block pageScripts %}
<script>
  $( document ).ready(function() {
    $('a[href=""], button.nhsuk-search__submit').click(function(e) {
      e.preventDefault();
    });
  });
</script>
{% endblock %}
